<div class="toolbar">
    <div class="toolbar__items-wrapper">

        <!-- block change items  -->
        <div class="toolbar__item toolbar__item--active"
             data-bind="click: visibilityButtonBlockItems">
            <p>number of products</p>
            <div class="toolbar__wrapper-buttons">
                <div class="toolbar__buttons"
                     data-bind="visible: visibleItems">

                     <!-- buttons change items on page -->
                    <button data-bind="click: ()=>{changeSize(9)}">8 items</button>
                    <button data-bind="click: ()=>{changeSize(18)}">16 items</button>
                    <button data-bind="click: ()=>{changeSize(items().length)}">All items</button>
                </div>
            </div>
        </div>

        <!-- block sort price  -->
        <div class="toolbar__item toolbar__item--active"
             data-bind="click: visibilityButtonBlockPrice">
            <p>sort by price</p>

            <!-- buttons sort price  -->
            <div class="toolbar__wrapper-buttons">
                <div class="toolbar__buttons" data-bind="visible: visiblePriceSortItems">
                    <button data-bind="click: sortedPriceHigh">Sort price low</button>
                    <button data-bind="click: sortedPriceLow">Sort price high</button>
                </div>
            </div>

        </div>

        <!-- block sort name  -->
        <div class="toolbar__item toolbar__item--active" data-bind="click: visibilityButtonBlockName">
            <p>sort by name</p>
            <div class="toolbar__wrapper-buttons">

                <div class="toolbar__buttons"
                     data-bind="visible: visibleNameSortItems">
                     <!-- buttons sort name  -->
                    <button data-bind="click: sortedNameLow">Sort name A-Z</button>
                    <button data-bind="click: sortedNameHigh">Sort name Z-A</button>
                </div>

            </div>
        </div>
            <!-- block, where visible all products  -->
        <div class="toolbar__item toolbar__item--light">
            total <span data-bind="text: quantityItems"></span> products
        </div>
    </div>
</div>
