
//import fonts
//
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900');

//import variables
//
@import "./variables.scss";

// import components
//
@import "./applicationFiles/components/app/app.scss";
@import "./applicationFiles/components/header/header.scss";
@import "./applicationFiles/components/purchaseCart/purchaseCart.scss";
@import "./applicationFiles/components/logo/logo.scss";
@import "./applicationFiles/components/main/main.scss";
@import "./applicationFiles/components/content/content.scss";
@import "./applicationFiles/components/cart/cart.scss";
@import "./applicationFiles/components/sidebar/sidebar.scss";
@import "./applicationFiles/components/toolbar/toolbar.scss";
@import "./applicationFiles/components/products/products.scss";
@import "./applicationFiles/components/pagination/pagination.scss";
@import "./applicationFiles/components/footer/footer.scss";




body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 15px;
    color: $color-main;
    background-color: $background-main;
}

.disabled {
    visibility: hidden;
}

.line {
    height: 500px;
    width: 100%;
    position: absolute;
    background-color: $orange;
    top: 400px;
    z-index: -1;
    left: 0;
    transform: skewY(10deg);
    box-shadow: 0 0 25px 1px $gray-600;
}
